<div class="w-full h-full background-image flex flex-col items-center justify-center px-2 reset-main">
    <div class="card overflow-hidden w-full max-w-md">
      <div class="p-4 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center logo">
          <!-- <img class="w-full" src="/src/assets/images/img/expense.svg" /> -->
        </div>
      </div>
  
      <div class="text-center mt-4 px-2">
        <h2 class="title m-0">Welcome back</h2>
        <span class="body-2 text-secondary mt-2">   
            Please enter new password.
        </span>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
        <div class="p-4 flex flex-col gap-3">
          <div class="flex flex-col">
            <label for="exampleInputPassword1">Password<span class="text-danger">*</span></label>
            <div class="p-inputgroup">
              <input placeholder="Enter Password" oninput="this.value = this.value.replace(/^\s+/g, '')"
                [type]="IsShowPassword ? 'text' : 'password'" formControlName="password" class="form-control" pInputText
                id="exampleInputPassword1" maxlength="100" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                    <i [class]="'pi ' + (IsShowPassword ? 'pi-eye-slash' : 'pi-eye')"></i>
                  </button>
            </div>
            <app-show-error [field]="resetPasswordForm.get('password')" [name]="'Password'"></app-show-error>
          </div>
          <div class="flex flex-col">
            <label for="exampleInputConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
            <div class="p-inputgroup">
              <input placeholder="Enter Confirm Password" oninput="this.value = this.value.replace(/^\s+/g, '')"
                [type]="IsShowPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control"
                pInputText id="exampleInputConfirmPassword" maxlength="100" />
                <span class="p-inputgroup-addon">
                    <i 
                      class="pi" 
                      [ngClass]="IsShowConfirmPassword ? 'pi-eye-slash' : 'pi-eye'" 
                      (click)="toggleConfirmPasswordVisibility()">
                    </i>
                  </span>
            </div>
            <app-show-error [field]="resetPasswordForm.get('confirmPassword')"
              [name]="'Confirm Password'"></app-show-error>
          </div>
          <div class="flex items-center justify-content-between mt-3">
            <p-button type="submit" styleClass="primary-button p-button-secondary">Reset Password</p-button>
            <a href="javascript:void(0)" class="forgot-link float-right text-danger" (click)="backToLogin()">Back To Login ?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
