<!-- <div class="w-full h-full background-image flex flex-col items-center justify-center px-2 forgot-main" *ngIf="!display">
    <div class="card overflow-hidden w-full max-w-md">
      <div class="p-4 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center logo">
          <img class="w-full" src="../../../assets/img/login/Shaligram_logo.svg" />
        </div>
      </div>
  
      <div class="text-center mt-4 px-2">
        <h2 class="title m-0">Forgot Your Password</h2>
        <span class="body-2 text-secondary mt-2">
            Please enter email address you'd like your password reset information sent to
        </span>
      </div>
  
      <div class="p-4 flex flex-col gap-4">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="getResetPasswordLink()" novalidate>
          <div class="flex flex-col">
            <label for="exampleInputEmail1">Enter email address<span class="text-danger">*</span></label>
            <input placeholder="Enter Email" oninput="this.value = this.value.replace(/^\s+/g, '')"
              oninput="this.value = this.value.toLowerCase()" type="email" formControlName="Email"
              class="form-control mb-1" pInputText id="exampleInputEmail1" maxlength="100" />  
              <app-show-error [field]="forgotPasswordForm.get('Email')" [name]="'Email'"></app-show-error>
          </div>
          <div class="d-flex items-center justify-content-end mt-3">
            <a class="forgot-link float-right text-danger" (click)="backToLogin()">Back To Login ?</a>
          </div>
          <p-button type="submit" styleClass="primary-button p-button-secondary">Request Reset Link</p-button>
        </form>
      </div>
    </div>
  </div>
  
  <p-dialog [(visible)]="display"
    class="w-full h-full background-image flex flex-col items-center justify-center px-2 forgot-main"
    [style]="{ width: '27rem' }" [baseZIndex]="10000" id="myDialog" [draggable]="false">
    <div class="p-4 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center logo">
        <img class="w-full" src="../../../assets/img/login/Shaligram_logo.svg" />
      </div>
    </div>
    <div class="mt-4 text-center">
      <h1 class="mt-2">Email Sent Successfully!</h1>
      <p class="mt-3">Please check your email, click the given link and reset your password</p>
      <p-button class="mt-4 link" type="button" styleClass="primary-button p-button-secondary"
        (click)="backToForgotPassword()">Back To Forgot Password ?</p-button>
    </div>
  </p-dialog> -->

  <div class="w-full h-full background-image flex flex-col items-center justify-center px-2 forgot-main" *ngIf="!display">
    <div class="card overflow-hidden w-full max-w-md animate__animated animate__fadeInDown">
      <div class="p-4 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center logo">
          <!-- <img class="w-full animate__animated animate__pulse animate__infinite" src="/src/assets/images/img/expense.svg" /> -->
        </div>
      </div>
  
      <div class="text-center mt-4 px-2">
        <h2 class="title m-0 animate__animated animate__fadeIn">Forgot Your Password</h2>
        <span class="body-2 text-secondary mt-2 animate__animated animate__fadeIn animate__delay-1s">
          Please enter the email address you'd like your password reset information sent to
        </span>
      </div>
  
      <div class="p-4 flex flex-col gap-4">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="getResetPasswordLink()" novalidate>
          <div class="flex flex-col">
            <label for="exampleInputEmail1" class="animate__animated animate__fadeInLeft">Enter email address<span class="text-danger">*</span></label>
            <input placeholder="Enter Email" oninput="this.value = this.value.replace(/^\s+/g, '')"
              oninput="this.value = this.value.toLowerCase()" type="email" formControlName="Email"
              class="form-control mb-1 animate__animated animate__zoomIn" pInputText id="exampleInputEmail1" maxlength="100" />
            <app-show-error [field]="forgotPasswordForm.get('Email')" [name]="'Email'"></app-show-error>
          </div>
          <div class="d-flex items-center justify-content-end mt-3 animate__animated animate__fadeInUp">
            <a class="forgot-link float-right text-danger" (click)="backToLogin()">Back To Login?</a>
          </div>
          <p-button type="submit" styleClass="primary-button p-button-secondary animate__animated animate__fadeInUp animate__delay-1s">Request Reset Link</p-button>
        </form>
      </div>
    </div>
  </div>
  
  <p-dialog [(visible)]="display"
    class="w-full h-full background-image flex flex-col items-center justify-center px-2 forgot-main animate__animated animate__zoomIn"
    [style]="{ width: '27rem' }" [baseZIndex]="10000" id="myDialog" [draggable]="false">
    <div class="p-4 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center logo">
        <img class="w-full animate__animated animate__tada animate__delay-2s" src="../../../assets/img/login/Shaligram_logo.svg" />
      </div>
    </div>
    <div class="mt-4 text-center">
      <h1 class="mt-2 animate__animated animate__fadeIn">Email Sent Successfully!</h1>
      <p class="mt-3 animate__animated animate__fadeIn animate__delay-1s">Please check your email, click the given link, and reset your password</p>
      <p-button class="mt-4 link" type="button" styleClass="primary-button p-button-secondary animate__animated animate__fadeInUp animate__delay-2s"
        (click)="backToForgotPassword()">Back To Forgot Password?</p-button>
    </div>
  </p-dialog>
