<div class="w-full h-full background-image flex flex-col items-center justify-center px-2 reset-main">
  <div class="card overflow-hidden w-full max-w-md animated-card">
    <div class="p-4 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center logo">
        <!-- <img class="w-full" src="../../../assets/img/login/Shaligram_logo.svg" /> -->
      </div>
    </div>

    <div class="text-center mt-4 px-2">
      <h2 class="title m-0">Welcome back</h2>
      <span class="body-2 text-secondary mt-2">Please enter below required details.</span>
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
      <div class="p-4 flex flex-col gap-3">
        <!-- Old Password -->
        <div class="flex flex-col">
          <label for="exampleInputPassword2">Old Password<span class="text-danger">*</span></label>
          <div class="p-inputgroup">
            <input placeholder="Enter old Password" oninput="this.value = this.value.replace(/^\s+/g, '')"
              [type]="IsShowOldPassword ? 'text' : 'password'" formControlName="oldpassword" class="form-control input-focus"
              pInputText id="exampleInputPassword2" maxlength="100" />
            <span class="p-inputgroup-addon">
              <i class="pi" [ngClass]="IsShowOldPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="toggleOldPasswordVisibility()"></i>
            </span>
          </div>
          <app-show-error [field]="changePasswordForm.get('oldpassword')" [name]="'Old Password'"></app-show-error>
        </div>
        
        <!-- New Password -->
        <div class="flex flex-col">
          <label for="exampleInputPassword1">New Password<span class="text-danger">*</span></label>
          <div class="p-inputgroup">
            <input placeholder="Enter New Password" oninput="this.value = this.value.replace(/^\s+/g, '')"
              [type]="IsShowPassword ? 'text' : 'password'" formControlName="password" class="form-control input-focus" pInputText
              id="exampleInputPassword1" maxlength="100" />
            <span class="p-inputgroup-addon">
              <i class="pi" [ngClass]="IsShowPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordVisibility()"></i>
            </span>
          </div>
          <app-show-error [field]="changePasswordForm.get('password')" [name]="'Password'"></app-show-error>
        </div>
        
        <!-- Confirm Password -->
        <div class="flex flex-col">
          <label for="exampleInputConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
          <div class="p-inputgroup">
            <input placeholder="Enter Confirm Password" oninput="this.value = this.value.replace(/^\s+/g, '')"
              [type]="IsShowConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
              class="form-control input-focus" pInputText id="exampleInputConfirmPassword" maxlength="100" />
            <span class="p-inputgroup-addon">
              <i class="pi" [ngClass]="IsShowConfirmPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="toggleConfirmPasswordVisibility()"></i>
            </span>
          </div>
          <app-show-error [field]="changePasswordForm.get('confirmPassword')" [name]="'Confirm Password'"></app-show-error>
        </div>

        <!-- Submit Button -->
        <div class="flex items-center justify-content-between mt-3">
          <p-button type="submit" styleClass="primary-button p-button-secondary animated-btn">Change Password</p-button>
          <a href="javascript:void(0)" class="forgot-link float-right text-danger animated-link" (click)="backToDashboard()">Back to Dashboard</a>
        </div>
      </div>
    </form>
  </div>
</div>
